:root {
	--accent-color: #4169E1;
	--back-color: #F0FFFF;
	--header-color: #F0FFFF;
	--shadow-color: #778899;
	--text-color-dark: #000000;
	--text-color-light: #F0FFFF;
	--white-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;

    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

body {
	background-color: var(--back-color);
	color: var(--text-color-dark);
	position: absolute;
	width: 100%;
}


#header {
	align-items: center;
	background-color: var(--back-color);
	box-shadow: 0rem .2rem 1rem var(--shadow-color);
	color: var(--accent-color);
	display: flex;
	flex-direction: row;
	height: 3rem;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 1;
}

a:link, a:visited {
    font-size: 1.2rem;
    text-decoration: none;
}

#home-button {
    border: solid .1rem var(--accent-color);
    border-radius: 3rem;
    box-shadow: 0rem .2rem 1rem var(--shadow-color);
    color: var(--accent-color);
    margin: 1rem;
    padding: .5rem;
    transition: .2s;
}

#home-button:hover {
    background-color: var(--accent-color);
    color: var(--text-color-light);
    transition: .2s;
}

#header-links {
    display: flex;
}

.expanded-bar-link {
    color: var(--accent-color);
    display: inline-block;
    padding: 1rem 1rem;
}

.expanded-bar-link:hover {
    background-color: var(--accent-color);
    color: var(--text-color-light);
}

#menu {
    align-items: center;
    display: none;
    margin: 0rem .5rem;
    position: relative;
    width: 3rem;
}

#menu-button {
    cursor: pointer;
    display: block;
    height: 1.5rem;
    margin: auto;
    position: relative;
    width: 2rem;
}

.bar {
    background-color: var(--accent-color);
    border: solid .05rem var(--accent-color);
    display: block;
    height: .3rem;
    transition: .2s;
    width: 2rem;
}

#bar2 {
    margin: .3rem 0rem;
}

/* Rotate first bar */
.change #bar1 {
    -moz-transform: rotate(-45deg) translate(-.4rem, .45rem);
    -ms-transform: rotate(-45deg) translate(-.4rem, .45rem);
    -o-transform: rotate(-45deg) translate(-.4rem, .45rem);
    -webkit-transform: rotate(-45deg) translate(-.4rem, .45rem);
    transform: rotate(-45deg) translate(-.4rem, .45rem);
    transition: .2s;
}

/* Fade second bar */
.change #bar2 {
    opacity: 0;
    transition: .2s;
}

/* Rotate third bar */
.change #bar3 {
    -moz-transform: rotate(45deg) translate(-.4rem, -.45rem);
    -ms-transform: rotate(45deg) translate(-.4rem, -.45rem);
    -o-transform: rotate(45deg) translate(-.4rem, -.45rem);
    -webkit-transform: rotate(45deg) translate(-.4rem, -.45rem);
    transform: rotate(45deg) translate(-.4rem, -.45rem);
    transition: .2s;
}

#menu-links {
    background-color: var(--header-color);
    box-shadow: -.4rem .6rem .8rem -.2rem var(--shadow-color);
    display: none;
    position: fixed;
    right: -.5rem;
    top: var(--header-height);
    min-width: 10rem;
}

#menu-links.show {
    display: block;
}

#menu-links > a {
    color: var(--accent-color);
    display: block;
    padding: .8rem;
}

#menu-links > a:hover, #menu-links >a:active  {
    background-color: var(--accent-color);
    color: var(--text-color-light);
}

body > main {
	background-color: var(--back-color);
	margin: 3rem auto 0rem auto;
	width: 70%;
}

.content {
	background-color: var(--back-color);
	display: grid;
	grid-row-gap: 2rem;
	margin-bottom: 2rem;
	padding: 2rem;
}

.anchor {
    display: block;
    position: relative;
    top: -5rem;
    visibility: hidden;
}

.content h1 {
    background-color: var(--text-color-light);
    border: solid .1rem var(--accent-color);
    border-radius: 3rem;
    box-shadow: 0rem .2rem 1rem var(--shadow-color);
    color: var(--accent-color);
    display: block;
    font-size: 2.5rem;
    padding: .1rem;
    text-align: center;
}

.content h2 {
	font-size: 1.17rem;
}

#about {
	grid-column-gap: 2rem;
	grid-template-columns: 60% auto;
	grid-template-rows: auto auto;
}

#about > h1, #about > .anchor {
	grid-column: 1 / 3;
	grid-row: 1;
}

#about > div {
	grid-column: 1;
	grid-row: 2;
	margin: auto;
}

#about h2 {
	background-color: var(--accent-color);
	border: solid .1rem var(--accent-color);
	border-radius: 1rem;
	color: var(--text-color-light);
	display: inline-block;
	padding: .25rem;
}

#about img {
	border: solid .1rem var(--text-color-dark);
	border-radius: 3rem;
	box-shadow: .4rem .4rem .5rem var(--shadow-color);
	grid-column: 2;
	grid-row: 2;
	margin: auto;
}

#projects {
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto auto;
}

#projects > h1, #projects > .anchor {
	grid-column: 1;
	grid-row: 1;
}

#projects > .project {
	display: grid;
	grid-column-gap: 3rem;
	grid-row-gap: 2rem;
}

#projects > .project-image {
	border: solid .1rem var(--text-color-dark);
	border-radius: .5rem;
	box-shadow: .4rem .4rem .5rem var(--shadow-color);
	margin: auto;
}

#projects h2 {
	background-color: var(--accent-color);
	border-radius: 3rem;
	color: var(--text-color-light);
	padding: .5rem;
	text-align: center;
}

#projects ul {
	padding-left: 1.25rem;
}

#projects > #personal-website {
	grid-column: 1;
	grid-row: 2;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
}

#personal-website > img {
	grid-column: 1;
	grid-row: 1;
}

#personal-website > website-text {
	grid-column:2;
	grid-row: 1;
	margin: auto;
	position: relative;
}

projects > #patient-survey {
	grid-column: 1;
	grid-row: 3;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
}

#patient-survey > survey-text {
	grid-column: 1;
	grid-row: 1;
	margin: auto;
	position: relative;
}

#patient-survey > img {
	grid-column: 2;
	grid-row: 1;
	margin: auto;
}

#classwork {
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto;
}

#classwork h1, #classwork .anchor {
	grid-column: 1;
	grid-row: 1;
}

#classwork #timeline {
	background-color: var(--accent-color);
	border-radius: 1rem;
	grid-column: 1;
	grid-row: 2/5;
	height: 100%;
	margin-left: 4rem;
	width: 2rem;
}

#classwork .class {
	display: grid;
	grid-column: 1;
	grid-template-columns : 10rem auto;
	grid-template-rows: auto;
	grid-column-gap: 1rem;
}

.class > .class-picture:hover {
	box-shadow: 0rem .2rem 1rem .2rem var(--shadow-color);
	position: relative;
	top: -.1rem;
}

#classwork > #class0 {
	grid-row: 2;
}

#classwork > #class1 {
	grid-row: 3;
}

#classwork > #class2 {
	grid-row: 4;
}

.class > .class-picture {
	align-items: center;
	background-color: var(--white-color);
	border: solid .1rem var(--accent-color);
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	grid-column: 1;
	grid-row: 1;
	height: 8rem;
	justify-content: center;
	margin: auto;
	width: 8rem;
}

.class > .class-info {
	border: solid .1rem var(--accent-color);
	border-radius: 1rem;
	grid-column: 2;
	grid-row: 1;
	padding: 1rem;
}

.class-info > ul {
	padding-left: 1.25rem;
}

#contact {
	grid-column-gap: 1rem;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto;
}

#contact > h1, #contact .anchor {
	grid-column: 1;
	grid-row: 1;
}

#contact > .contact-link {
	margin: auto;
	max-width: 25rem;
	width: 100%;
}

#contact img {
	background-color: var(--accent-color);
	border-radius: 1rem;
	cursor: pointer;
	height: 3rem;
	padding: .5rem;
	vertical-align: middle;
	width: 3rem;
}

#contact img:hover {
	box-shadow: 0rem .2rem 1rem .2rem var(--shadow-colr);
	position: relative;
	top: -.1rem;
}

#contact > .contact-link > a {
	color: var(--text-color-dark);
	left: 1rem;
	position: relative;
	text-decoration: underline;
	top: .1rem;
}

#contact > #email {
	grid-column: 1;
	grid-row: 2;
}

#contact> #linkedin {
	grid-column: 1;
	grid-row: 3;
}

#contact > #github {
	grid-column: 1;
	grid-row: 4;
}

@media screen and (max-width: 1280px) {

    body > main {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {

    #menu {
        display: inline-block;
    }

    .expanded-bar-link {
        display: none;
    }

    body > main {
        width: 100%;
    }

    #about {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

    #about > h1, #about > .anchor {
        grid-column: 1;
        grid-row: 1;
    }

    #about > img {
        grid-column: 1;
        grid-row: 2;
    }

    #about > div {
        grid-column: 1;
        grid-row: 3;
    }

    #projects {
        grid-row-gap: 2rem;
    }

    #projects > #tetrow {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    #tetrow > img {
        grid-column: 1;
        grid-row: 1;
    }

    #tetrow > #tetrow-text {
        grid-column: 1;
        grid-row: 2;
    }

    #projects > #adventure-rpg {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    #adventure-rpg > #adventure-rpg-images {
        grid-column: 1;
        grid-row: 1;
    }

    #adventure-rpg > #adventure-rpg-text {
        grid-column: 1;
        grid-row: 2;
    }

    #projects > #dotfiles {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    #dotfiles > img {
        grid-column: 1;
        grid-row: 1;
    }

    #dotfiles > #dotfiles-text {
        grid-column: 1;
        grid-row: 2;
    }

    #contact > .contact-link {
        text-align: center;
    }

    #contact > .contact-link > img {
        display: block;
        margin: auto;
    }

    #contact > .contact-link > a {
        display: inline-block;
        margin-top: .5rem;
        position: static;
    }
}